<label>Server Name</label>
<!--<input-->
  <!--type="text"-->
  <!--class="form-control"-->
  <!--(input)="onUpdateServerName($event)">-->
<input
  type="text"
  class="form-control"
  [(ngModel)]="serverName"
  />
<p></p>
<button
  class="btn btn-primary"
  [disabled]="!allowNewServer"
  (click)="onCreateServer()">Add Server</button>
<!--<p [innerText]="allowNewServer"></p>-->
<p *ngIf="serverCreated">Server was created, server name is {{ serverName }}</p>
<app-server *ngFor="let server of servers"></app-server>
<!-- <p>{{ serverCreationStatus }}</p>
<app-server></app-server> -->
<!-- <app-server></app-server> -->
<hr>
<label>User Name:</label>
<input
  type="text"
  class="form-control"
  [(ngModel)]="userName"
/>
<p>{{userName}}</p>
<button
  class="btn btn-primary"
  [disabled]="!userName"
  (click)="userName = ''">Reset User Name</button>
  <!-- (click)="onResetUserName()">Reset User Name</button> -->

